* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(111, 111, 111);
  }

  header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: darkslategray;
  }
  
  form {
    width: 350px;
    height: 350px;
    background-color: rgb(130, 210, 210);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
  }
  
  button {
    background-color: #0f0f0f;
    width: 110px;
    height: 25px;
    color: rgb(255, 255, 255);
    border: none;
    margin: 5px;
  }
  
  input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
  }
  
  #rating-container {
    width: 85%;
  }
  
  .guardian-cover-image {
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .guardian-card {
    background-color: rgb(233, 239, 239);
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  
  .btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
  }
  
  .btns-container > button {
    width: 20px;
  }
  